@CHARSET "UTF-8";

@font-face {
	font-family: 'HEADER_FONT';
	src: url('../../font/Fruktur.ttf');
}

.title-font {
	color: rgb(234, 234, 234);
	font-family: 'HEADER_FONT';
	font-size: 24pt;
	font-weight: bold;
}

.subtitle-font {
	color: rgb(234, 234, 234);
	font-family: 'HEADER_FONT';
	font-size: 18pt;
	font-weight: bold;
}

.big-header-font {
	color: rgb(234, 234, 234);
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18pt;
	font-weight: bold;
}

.medium-header-font {
	color: rgb(234, 234, 234);
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14pt;
	font-weight: bold;
}

.medium-header-font {
	color: rgb(234, 234, 234);
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

.big-icon-font {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 48pt;
	font-weight: normal;
}

.medium-icon-font {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 36pt;
	font-weight: normal;
}

.small-icon-font {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18pt;
	font-weight: normal;
}

.big-text-font {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18pt;
	font-weight: normal;
}

.medium-text-font {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14pt;
	font-weight: normal;
}

.small-text-font {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10pt;
	font-weight: normal;
}

.div-top-center {
	align-items: start;
	display: flex;
	justify-content: center;
}

.div-bottom-center {
	align-items: end;
	display: flex;
	justify-content: center;
}

.div-center-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.div-left-center {
	align-items: center;
	display: flex;
	justify-content: start;
}

.div-right-center {
	align-items: center;
	display: flex;
	justify-content: end;
}