@CHARSET "UTF-8";
/**/
.accordian-panel {
	display: block;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	width: 280px;
	height: 100%;
	overflow: auto;
}
/**/
.button-border {
	background-color: rgb(234, 234, 234);
	border-color: rgb(32, 32, 32);
	border-width: medium;
	border-style: solid;
	color: rgb(32, 32, 32);
	padding: 5px;
}

.button-border:hover {
	cursor: pointer;
}

.button-fill {
	background-color: rgb(32, 32, 32);
	border: none;
	color: rgb(234, 234, 234);
	padding: 5px;
}

.button-fill:hover {
	box-shadow: 0 0 15px rgba(234, 234, 234, 0.25), 0 0 15px rgba(234, 234, 234, 0.25);
	cursor: pointer;
}
/**/
.link {
	border: none;
	color: rgb(32, 32, 32);
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}
/**/
.switch {
	background-color: rgb(234, 234, 234);
	position: relative;
	width: 90px;
	height: 30px;
}

.switch::before {
	align-items: center;
	content: 'ON';
	color: rgb(32, 32, 32);
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	width: 40px;
	height: 100%;
}

.switch::after {
	align-items: center;
	content: 'OFF';
	color: rgb(32, 32, 32);
	display: flex;
	justify-content: center;
	position: absolute;
	right: 0;
	width: 40px;
	height: 100%;
}

.switch label {
	background-color: rgb(32, 32, 32);
	cursor: pointer;
	display: block;
	transition: all .5s ease;
	position: absolute;
	left: 0;
	width: 40px;
	height: calc(100% - 10px);
	z-index: 5;
}

.switch input[type='checkbox'] {
	display: none;
}

.switch input[type='checkbox']:checked + label {
	background-color: rgb(32, 32, 32);
	left: 40px;
}
/**/
.title-panel {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.title-head-panel {
	background-color: rgb(32, 32, 32);
	width: 100%;
	height: 30px;
}

.title-head-panel header {
	padding-left: 5px;
	width: 100%;
	height: 100%;
}

.title-head-panel button {
	background-color: transparent;
	border-width: 0;
	color: rgb(234, 234, 234);
	width: auto;
	height: 100%;
}

.title-head-panel button:hover {
	background-color: rgb(234, 234, 234);
	box-shadow: 0 0 15px rgba(234, 234, 234, 0.25), 0 0 15px rgba(234, 234, 234, 0.25);
	color: rgb(32, 32, 32);
}

.title-body-panel {
	display: none;
	width: 100%;
	height: calc(100% - 30px);
}
/**/
.image-slide {
	background-color: rgb(234, 234, 234);
	display: flex;
	flex-wrap: nowrap;
	padding: 5px;
	width: 100%;
	height: 100%;
}

.image-content {
	width: 100%;
	height: 100%;
}

.image-content img {
	object-fit:cover;
}

.image-content img:hover {
	box-shadow: 0 0 15px rgba(32, 32, 32, 0.25), 0 0 15px rgba(32, 32, 32, 0.25);
	cursor: pointer;
}

.image-items {
	box-shadow: 0 0 15px rgba(32, 32, 32, 0.25), 0 0 15px rgba(32, 32, 32, 0.25);
	flex-wrap: wrap;
	width: 256px;
	height: 100%;
	overflow: auto;
}

.image-item {
	margin: 5px;
	padding: 5px;
}

.image-item:hover {
	background-color: rgb(32, 32, 32);
	cursor: pointer;
}
/**/
.navigate-menu {
	display: flex;
	width: auto;
	height: auto;
}

.menu-bar {
	display: flex;
	flex-wrap: nowrap;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 30px;
}

.menu-title {
	margin: 0 auto;
	padding: 0;
	min-width: 120px;
	width: 100%;
	height: 100%;
}

.menu-title-button {
	background-color: rgb(32, 32, 32);
	border: none;
	color: rgb(234, 234, 234);
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.menu-title-button:hover {
	box-shadow: 0 0 15px rgba(234, 234, 234, 0.25), 0 0 15px rgba(234, 234, 234, 0.25);
}

.menu-list {
	background-color: rgb(32, 32, 32);
	box-shadow: 0 0 15px rgba(234, 234, 234, 0.25), 0 0 15px rgba(234, 234, 234, 0.25);
	display: none;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 200px;
	z-index: 10;
}

.menu-item {
	display: flex;
	color: rgb(234, 234, 234);
	margin: 0 auto;
	padding: 0;
	min-width: 160px;
	width: 100%;
	height: auto;
}

.menu-item-link {
	color: rgb(234, 234, 234);
	width: 100%;
	height: 100%;
	padding: 5px;
	text-decoration: none;
	white-space: nowrap;
}

.menu-item-link:hover {
	box-shadow: 0 0 15px rgba(234, 234, 234, 0.25), 0 0 15px rgba(234, 234, 234, 0.25);
}

.menu-item-button {
	background-color: rgb(32, 32, 32);
	border: none;
	color: rgb(234, 234, 234);
	width: auto;
	height: 100%;
}

.menu-item-button:hover {
	box-shadow: 0 0 15px rgba(234, 234, 234, 0.25), 0 0 15px rgba(234, 234, 234, 0.25);
}

.menu-item-span {
	color: rgb(234, 234, 234);
	padding: 5px;
	width: 100%;
	height: 100%;
}
/**/
.separator-horizontal {
	border-color: rgb(234, 234, 234);
	border-style: solid;
	border-width: thin;
	width: calc(100% - 2px);
	height: auto;
}

.separator-vertical {
	border-color: rgb(234, 234, 234);
	border-style: solid;
	border-width: thin;
	width: auto;
	height: calc(100% - 2px);
}
/**/
.slide-bar {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	width: auto;
	height: auto;
}

.slide-bar-button {
	background-color: rgb(32, 32, 32);
	border: none;
	position: relative;
	width: 20px;
	height: 100%;
	z-index: 10;
}

.slide-bar-left {
	background-color: rgb(128, 128, 128);
	box-shadow: 0 0 15px rgba(32, 32, 32, 0.25), 0 0 15px rgba(32, 32, 32, 0.25);
	width: calc(50% - 10px);
	height: 25%;
}

.slide-bar-right {
	background-color: rgb(234, 234, 234);
	box-shadow: 0 0 15px rgba(32, 32, 32, 0.25), 0 0 15px rgba(32, 32, 32, 0.25);
	width: calc(50% - 10px);
	height: 25%;
}
/**/
.progress-bar {
	background-color: rgb(234, 234, 234);
	padding: 2px;
	width: auto;
	height: auto;
}

.progress-bar div {
	background-color: rgb(32, 32, 32);
	width: 50%;
	height: 100%;
}
/**/
.tree {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 280px;
	height: 100%;
	overflow: auto;
}

.tree-item-head {
    display: flex;
    margin: 0 auto;
    height: 30px;
}

.tree-item-head button {
	background-color: transparent;
	border: none;
	color: rgb(234, 234, 234);
}

.tree-item-head button:hover {
	cursor: pointer;
}

.tree-item-head header {
	color: rgb(234, 234, 234);
	cursor: default;
	width: 100%;
}

.tree-item-body {
	display: none;
	flex-wrap: wrap;
	width: 100%;
}

.tree-leaf {
	color: rgb(234, 234, 234);
	cursor: default;
	padding: 5px;
	width: 100%;
	height: auto;
	text-decoration: none;
	white-space: nowrap;
}

.tree-leaf:hover {
	background-color: rgb(234, 234, 234);
	color: rgb(32, 32, 32);
}