<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.luan.web.map.IndexMapper">

	<resultMap type="pers.luan.web.bean.IndexBean" id="indexMap">
		<result property="username" column="USERNAME" javaType="java.lang.String"/>
		<result property="password" column="PASSWORD" javaType="java.lang.String"/>
	</resultMap>
	
	<select id="findUserInfo" resultMap="indexMap" parameterType="String">
		SELECT * 
		FROM USER_SIGN_TB
		WHERE USERNAME=#{username}
	</select>
	
</mapper>