<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.luan.web.map.SampleMapper">

	<resultMap type="pers.luan.web.bean.SampleBean" id="sampleMap">
		<result property="sampleID" column="SAMPLE_ID" javaType="java.lang.Integer"/>
		<result property="sampleName" column="SAMPLE_NAME" javaType="java.lang.String"/>
	</resultMap>
	
	<select id="findAllSamples" resultMap="sampleMap">
		SELECT * 
		FROM SAMPLE_TB
	</select>
	
</mapper>