<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sample NodeJS Project - {{pageTitle}} Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="style/theme_style.css">
    </head>
    <body>
        {{{body}}}
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.runtime.js"></script>
</html>