table {
	border: 2px solid rgb(32, 32, 32);
	table-layout: fixed;
	width: 100%;
}

th {
	background-color: rgb(32, 32, 32);
	color: rgb(234, 234, 234);
	font-family: "Aria", Arial, Sans-serif;
	font-size: 24pt;
	font-weight: bold;
	height: 50px;
}

td {
	background-color: rgb(234, 234, 234);
	color: rgb(32, 32, 32);
	font-family: "Aria", Arial, Sans-serif;
	font-size: 12pt;
	font-weight: normal;
	height: 50px;
	padding: 5px;
}

#about_table_key {
	width: 25%;
	word-wrap: break-word;
}

#about_table_value {
	width: 75%;
	word-wrap: break-word;
}

.about_item_key {
	text-align: center;
}