html, body {
	background-color: rgb(32, 32, 32);
	margin: 0 auto;
	width: 100%;
	height: 100%;
	overflow: auto;
}

a {
	align-items: center;
    color: rgb(234, 234, 234);
    display: flex;
    font-family: "Arial", Arial, Sans-serif;
    font-size: 18pt;
    font-weight: normal;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

a:hover {
	background-color: rgb(64, 64, 64);
}

iframe {
	border: 0;
	width: 100%;
	height: 100%;
}

img {
	margin: 10px;
}

hr {
	border: 2px solid rgb(234, 234, 234);
	margin: 0 auto;
	padding: 0;
}

.page-header {
	display: inline-block;
	position: static;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: auto;
}

.page-header header {
	align-items: center;
	color: rgb(234, 234, 234);
	display: inline-flex;
	flex-wrap: nowrap;
    font-family: "Arial", Arial, Sans-serif;
    font-size: 64pt;
    font-weight: bold;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-shadow: 0 0 20px rgba(234, 234, 234, 0.75), 0 0 20px rgba(234, 234, 234, 0.75);
}

.page-center {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	position: static;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.page-bottom {
	position: static;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 5%;
}

.page-bottom span {
	align-items: center;
	color: rgb(234, 234, 234);
	display: flex;
	justify-content: center;
	font-family: "Arial", Arial, Sans-serif;
    font-size: 18pt;
    font-weight: normal;
	width: 100%;
	height: 100%;
}

.form-section {
	background-color: rgb(32, 32, 32);
	border: 4px solid rgb(32, 32, 32);
	box-shadow: 0 0 10px rgba(234, 234, 234, 0.25), 0 0 10px rgba(234, 234, 234, 0.25);
	height: auto;
}

.form-section header {
	color: rgb(234, 234, 234);
	font-family: "Arial", Arial, Sans-serif;
    font-size: 24pt;
    font-weight: bold;
    width: 100%;
    height: 50px;
    padding: 5px;
    text-shadow: 0 0 20px rgba(234, 234, 234, 0.75), 0 0 20px rgba(234, 234, 234, 0.75);
}

.section-form {
	background-color: rgb(234, 234, 234);
	display: block;
	width: 100%;
	height: 100%;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
	width: 100%;
	height: 50px;
	padding: 5px;
}

.table-foot {
	display: flex;
	flex-wrap: wrap;
	width: auto;
	height: 50px;
	padding: 5px;
}

.section-form {
	height: auto;
}

.section-form span {
	align-items: center;
	display: flex;
	width: 50%;	
}

.section-form label {
	align-items: center;
	color: rgb(32, 32, 32);
	display: flex;
	font-family: "Arial", Arial, Sans-serif;
	font-size: 18pt;
	font-weight: bold;
	width: 100%;
	height: 100%;
}

.section-form button {
	border: 2px solid rgb(32, 32, 32);
	background-color: rgb(234, 234, 234);
	color: rgb(32, 32, 32);
	font-family: "Arial", Arial, Sans-serif;
	font-size: 18pt;
	font-weight: bold;
	width: 100%;
	height: 100%;
}

.section-form button:hover {
	cursor: pointer;
}

.section-form select {
	align-items: center;
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(32, 32, 32);
	color: rgb(32, 32, 32);
	display: inline-flex;
	font-family: "Arial", Arial, Sans-serif;
	font-size: 18pt;
	font-weight: bold;
	width: 100%;
	height: 100%;
}

.section-form input, .section-form password {
	border: 2px solid rgb(32, 32, 32);
	color: rgb(32, 32, 32);
	font-family: "Arial", Arial, Sans-serif;
	font-size: 18pt;
	font-weight: normal;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
	height: 100%;
}

.section-form textarea {
	border: 2px solid rgb(32, 32, 32);
	color: rgb(32, 32, 32);
	font-family: "Arial", Arial, Sans-serif;
	font-size: 12pt;
	font-weight: normal;
	width: calc(100% - 8px);
}

.section-form input[type='radio'] {
	width: 50px;
	height: 50px;
}

.section-form input[type='checkbox'] {
	height: 50px;
}

#login-section-link {
	background-color: rgb(234, 234, 234);
	display: inline-flex;
	width: 100%;
	height: 50px;
}

#login-section-link a {
	color: rgb(32, 32, 32);
}

#login-section-link a:hover {
	color: rgb(234, 234, 234);
}

#index-top-list {
	background-color: rgb(32, 32, 32);
    display: inline-flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
}

#index-top-list li {
	align-items: center;
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#index-top-list div {
	display: flex;
    color: rgb(234, 234, 234);
    font-family: "Arial", Arial, Sans-serif;
    font-size: 18pt;
    font-weight: normal;
    justify-content: center;
    width: 100%;
}

#index-tree-list {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    min-width: 250px;
    max-width: 300px;
    height: 100%;
    overflow: auto;
}

.index-tree-item {
	display: block;
}

.index-node-div {
	margin: 5px;
}

.index-item-header {
	display: inline-flex;
	width: 100%;
	height: 30px;
	text-shadow: 0 0 20px rgba(234, 234, 234, 0.75), 0 0 20px rgba(234, 234, 234, 0.75);
}

.index-item-header button {
	border: 2px solid rgb(234, 234, 234);
	border-radius: 10px;
	background-color: rgb(32, 32, 32);
	color: rgb(234, 234, 234);
	font-family: "Arial", Arial, Sans-serif;
	font-size: 16pt;
	font-weight: bold;
	width: 35px;
	height: 100%;
}

.index-item-header button:hover {
	cursor: pointer;
}

.index-item-header header {
	align-items: center;
	color: rgb(234, 234, 234);
	display: inline-flex;
	font-family: "Arial", Arial, Sans-serif;
	font-size: 12pt;
	font-weight: bold;
	margin: 0 auto;
	padding-right: 5px;
	width: 100%;
	height: 100%;
	text-align: left;
	white-space: nowrap;
}

.index-item-content {
	display: none;
}

.index-item-link {
    align-items: center;
    display: inline-flex;
    color: rgb(234, 234, 234);
    font-family: "Arial", Arial, Sans-serif;
    font-size: 12pt;
    font-weight: normal;
    justify-content: left;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    width: 100%;
    white-space: nowrap;
}

.index-item-link:hover {
	background-color: rgb(64, 64, 64);
}

.tab-pane {
	max-width: 1200px;
	width: 100%;
	padding: 5px;
}

.tab-title {
	display: inline-flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
}

.tab-title li {
	align-items: center;
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.tab-content table {
	width: 100%;
	height: 100%;
}

.tab-content table td {
	background-color: rgb(234, 234, 234);
	color: rgb(32, 32, 32);
	font-family: "Arial", Arial, Sans-serif;
	font-size: 18pt;
	font-weight: normal;
	height: 50px;
}

.about-table-key {
	width: 25%;
	text-align: center;
}

.about-table-value {
	width: 75%;
	padding-left: 5px;
}

.about-edit {
	background-color: rgb(234, 234, 234);
	color: rgb(32, 32, 32);
}

.about-edit:hover {
	background-color: rgb(32, 32, 32);
	color: rgb(234, 234, 234);
}

.modal-dialog-backbone {
	background-color: rgba(0, 0, 0, 0.75);
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    index: 100;
}

.modal-dialog-title {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.modal-dialog-title button {
	background-color: transparent;
	border: 0;
	color: rgb(234, 234, 234);
	font-family: "Arial", Arial, Sans-serif;
	font-size: 48pt;
	font-weight: bold;
}

.modal-dialog-title button:hover {
	background-color: rgb(32, 32, 32);
	cursor: pointer;
}

.modal-dialog-title .form-section button {
	border: 2px solid rgb(32, 32, 32);
	color: rgb(32, 32, 32);
}

.modal-dialog-title .form-section button:hover {
	color: rgb(234, 234, 234);
}

.modal-dialog-content {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: auto;
}
/* 
#demo_chart_header {
	color: rgb(234, 234, 234);
	font-family: "Arial", Arial, Sans-serif;
	font-size: 56pt;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	text-shadow: 0 0 20px rgba(234, 234, 234, 0.75), 0 0 20px rgba(234, 234, 234, 0.75);
}

#demo_chart_div {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 100%;
}

#demo-chart-image {
	display: inline-flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}
 */