<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/SampleDB"/>
				<property name="username" value="MrFengShui"/>
				<property name="password" value="Who&amp;LSJ2017"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="pers/luan/web/xml/sample-mapper.xml"/>
		<mapper resource="pers/luan/web/xml/login-mapper.xml"/>
		<mapper resource="pers/luan/web/xml/register-mapper.xml"/>
	</mappers>
	
</configuration>